<h1>Pages</h1>
<p>You can drag and drop pages to reorder them.</p>
<p>You can edit a page by clicking on it's title.</p>
<hr />
<ul id="pages">
  <% @pages.each do |page| %>
    <li class="ui-state-default" id="page_<%= page.id %>">
      <%= link_to page.title, edit_resource_path(page) %>
    </li>
  <% end %>
</ul>

<br />

<%= link_to "New Page &raquo;".html_safe, new_resource_path, class: 'btn btn-primary' %>
