<h1 id="page_title" data-mercury="simple"><%= @page.title.html_safe %></h1>
<div id="page_body" data-mercury="full">
  <%= @page.body.try(:html_safe) %>
</div>

<br />
<p>
  <%= link_to 'Edit Page', edit_resource_path, class: 'btn btn-info' %>
  <%= link_to 'Back to Pages', collection_path, class: 'btn btn-danger' %>
</p>
